<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1 style="text-align: center;">Edit Profile Details</h1>
<form>
    <div class="username-form">
        <input type="password" class="input-box" placeholder="&nbsp;&nbsp;New Password">
        <br><br>
        <input type="password" class="input-box" placeholder="&nbsp;&nbsp;Confirm New Password">
        <br><br>
        <button class="btn btn-primary align-self-center"  type="submit">Change Password</button>
    </div>
    </form>
<form>
<div class="username-form">
    <input type="text" class="input-box" placeholder="&nbsp;&nbsp;New Username" value="Username">
    <br><br>
    <button class="btn btn-primary align-self-center"  type="submit">Change Username</button>
</div>
</form>



