<br><br>
<div class="col-md-4 col-lg-3 my-3 d-flex align-items-stretch" style="float:left; margin-left: 60px;">
    <div class="card">
        <img src="../assets/images/image1.jfif" width="200px" height="60px" alt="no img" class="card-img-top img-fluid img-thumbnail">
        <div class="card-body">
            <div class="card-title text-capitalize">
                <h5>Coronavirus Live News: India Variant Found In 44 Countries – WHO; Taiwan Faces New Outbreak</h5>
            </div>
            <p class="card-text">
                Highlight points
            </p>
        </div>
        
        <div class="card-footer bg-light d-flex justify-content-end ">

            <a  class="btn btn-dark" target="_blank">
                <i class="fa fa-book mr-1"></i>Read More
            </a>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-3 my-3 d-flex align-items-stretch" style="float:left;margin-left: 60px;">
    <div class="card">
        <img src="../assets/images/image1.png" width="200px" height="60px" alt="no img" class="card-img-top img-fluid img-thumbnail">
        <div class="card-body">
            <div class="card-title text-capitalize">
                <h5>Coronavirus Live News: India Variant Found In 44 Countries – WHO; Taiwan Faces New Outbreak</h5>
            </div>
            <p class="card-text">
                Highlight points
            </p>
        </div>
        
        <div class="card-footer bg-light d-flex justify-content-end ">

            <a  class="btn btn-dark" target="_blank">
                <i class="fa fa-book mr-1"></i>Read More
            </a>
        </div>
    </div>
</div>


<div class="col-md-4 col-lg-3 my-3 d-flex align-items-stretch" style="float:left;margin-left: 60px;">
    <div class="card">
        <img src="../assets/images/image1.jfif" width="200px" height="60px" alt="no img" class="card-img-top img-fluid img-thumbnail">
        <div class="card-body">
            <div class="card-title text-capitalize">
                <h5>Coronavirus Live News: India Variant Found In 44 Countries – WHO; Taiwan Faces New Outbreak</h5>
            </div>
            <p class="card-text">
                Highlight points
            </p>
        </div>
        
        <div class="card-footer bg-light d-flex justify-content-end ">

            <a  class="btn btn-dark" target="_blank">
                <i class="fa fa-book mr-1"></i>Read More
            </a>
        </div>
    </div>
</div>
